<div id="imagecontainer" >
    <div id="headerindex">
      <p id="maintitle">eValuate</p>
      <p id="mainsubtitle">Welcome to eValuate! <br> On-line evaluation and marketplace <br> for your collections of stamps, coins and more!</p>
    </div>
<br>
<br>

<div id="searchindex">
  <input width="200px" type="text" id="search" placeholder="Search for an item or an expert"><br>
  <p>or <a href="/items">Browse</a> the latest items </p>
</div>

<br>
<br>
<% if (typeof(error) != "undefined") { %>
  <div class="error-message"><%- error %></div>
<% } %>
<br>
<% if(!isUserLoggedIn){ %>
<div id="indexform">
  <form class="login" action="/" method="post">
  <label for="email">E-mail: </label><br>
  <input type="email" id="email" name="email" placeholder="Enter your email"><br><br>
  <label for="password">Password </label><br>
  <input type="password" id="password" name="password" placeholder="Enter your password"><br><br>
  <button type="submit" class="btn btn-primary" name="button">Sign in</button>
  </form>
  <br>
  <p>Don't have an account? Register <a href="/signup"> here </a></p>
</div>
<% } %>

</div>
