body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

.error-message {
  color: red;
  font-weight: strong;
}

.note {
  font-style: italic;
  color: gray;
  font-size: 11px;
  margin-top: -20px;
}
