body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

.error-message {
  color: red;
  font-weight: strong;
}

.thumbnail{
    height: 380px;
    overflow: auto;
}

.thumbnail img{
    /*width: 100%;*/
    height: 200px;
    display: block;
}

.caption{
  text-align: center;
}

.panel-default{
  text-align: center;
}

.centerthebutton{
    text-align: center;
}
