
<br>
<div id="imagecontainer"class="main">
<h1 class="header-center"> Browse </h1>
<br><br>
<div id="panelwithitems">
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/items">Items</a></li>
  <li role="presentation"> <a href="/users?experts">Experts</a></li>
  <li role="presentation"class="active"><a href="#">Owners</a></li>
</ul>
<div class="row-fluid">
<ul>
  <% usr.forEach((user)=>{ %>
    <div class="col-xs-4">
      <br>
    <li>
      <% let imageUrl= user.avatar %>
      <% if(user.avatar === "") imageUrl = "/images/user.svg"; %>
      <img class="avatar-thumb"  alt="" src=<%= imageUrl %>>
      <br>
      <%= user.firstName %>&nbsp<%= user.lastName %> <br>
      <br><a class="btn btn-primary" href="/users/<%= user._id %>" >View More</a>
     </li>
   </div>
  <% }) %>
</ul>
</div>
</div>
</div>
