

<h1> Show all Items </h1>

<div class>

<img src="../images/mokey1.png" width="100px">
<img src="../images/monkeybike.jpg" width="100px">

</div>

<br>
<br>
<input width="200px" type="text" id="search" placeholder="Search for an item or an expert"><br>
<p>or <a href="/">Browse</a> the latest items </p>
<br>
<br>
