<h1> Test of show ONE item </h1>

<img src="../images/mokey1.png">

<br>
<br>

<form class="login" action="/" method="post">
<label for="feedback">feedback: </label>
<input type="feedback" id="feedback" name="feedback" placeholder="Enter your feedback"><br>
<br>
<br>
<button type="submit" name="button">Post feedback</button>
</form>
<br>
<p> <a href="/items">All the stamps</a> Check out! </p>
