<div class="main">
<h3>Fill in the Form to Become an expert </h3><br>
    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
<form class="becomexpert" action="/signup" method="post">
    <script>
      <% if (typeof(tempInfo) != "undefined") { %>
         var info = <%= tempInfo %>;
      <% }  %>
    </script>

<ul>

  <li><label for="CV">Upload your CV</label>
  <input type="file" id="cv"  name="cv" required placeholder="Upload your cv"></li><br><br>

  <li><label for="CV">Upload your certificate</label>
  <input type="file" id="certificate" name="certificate" required placeholder="Upload your certificate"></li><br><br>

  <li><label for="CV">Upload photo</label>
  <input type="file" id="photo" name="photo" required placeholder="Upload your photo"></li><br><br>

  <li><label for="website"> Website: </label>
  <input type="website" id="website" name="website" required placeholder="Type your website"></li><br><br>

</ul>

  <button type="submit" name="button">Register as Expert</button><br>
  <label> confirmation takes around two weeks</label>

</form>
<br>
<script type="text/javascript" src="./javascript/autocomplete.js"></script>
